body {
  background: #6B70BD;
  background-size: 200% 200%;
  animation: verticalBreathing 15s ease infinite;
  height: 100vh;
  overflow: hidden;
}
.app {
 background-color: white;
 
}

h1 {
  font-size: 35px;
}

p {
  font-size: 30px;
}
.body-container{
  background-color: #6B6FBC;
  color: #ffffff;
 font-size: large;
 font-weight: bold;
}
.question-section{
  margin-top: 20px;
  margin-left: 60px;
}

.answer-section {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  position: relative;
  margin: 20px auto; 
  margin-left: 60px;
 
}
.optionsImg{
  width: 120px;
  height: 120px;
}

.back-btn {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: #6B6FBC;
}
.buttonM {
  color: white;
  /* min-width: 60px; */
  background-color: #6B6FBC;
  border: none;
}
.buttonM :hover{
  transition: 0.4s all ease;
  transform: scaleX(1.05);
}



.showScore-section {
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
  font-weight: 400;
  font-size: medium;
  border: 1px solid grey;
}
.ans-container{
  background-color: white;
  margin-top: 40px;
  margin-left: 40px;
  font-weight: 500;
  
}
.star-container{
  display: flex;
  align-items: center;
  padding-right: 20px;
  justify-content: space-between;
}
.footer-items{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
 

}
.footer-icons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  
}
.ftDP{
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 10px;
}

@media all and (max-width: 700px) {
  .app {
    padding: 5px;
    width: 90%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 26px;
  }
  button {
    width: 100%;
    min-width: 60px;
    background-color: #6B6FBC;
  }
}
